
.Body{
  text-align: center;
  min-height: 100vh;
  background-color: #3E87F6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.buscadorCuadro {
  align-items: center;
  text-align: center;
  border: #2F517E solid 1px;
  border-radius: 25px;
  background-color: #EAE9FA;
  height: 315px;
  width: 350px;
}

.h1-Title {
  color: black;
  font-size: 25px !important;
  font: 125% sans-serif;
}

.form-container {
  padding-top: 10px;
}

.form-group {
  align-items: center;
  padding-bottom: 20px;
}

.form-control {
  background-color: #EAE9FA;
  border-radius: 10px;
  border: rgb(145, 144, 144) solid 2px;
  width: 260px;
  height: 30px;
  padding-left: 15px;
  text-decoration: none;
}

.btn-Buscar{
  background-color: #6366F1;
  color: #ffffff;
  border-radius: 10px;
  font-weight: bold;
  width: 280px;
  height: 35px;
  font-size: 16px;
}

.parraf {
  justify-content: left;
  font-size: 18px;
  color: black;
  font-family: 'Segoe UI';
  font-style: oblique;
}

.modal {
  overflow-y: auto;
  text-align: center;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  padding-top: 10px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  border: none !important;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.pdfView {
  margin: auto;
  display: block;
  width: 850px;
  height: 100vh;
}