
.Body{
  text-align: center;
  background-color: #3E87F6;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.buscadorCuadro {
  border: #2F517E solid 1px;
  border-radius: 25px;
  background-color: #EAE9FA;
  height: 315px;
  width: 350px;
}

.h1-Title {
  color: black;
  font-size: 25px !important;
  font: 125% sans-serif;
}

.form-container {
  padding-top: 10px;
}

.form-group {
  align-items: center;
  padding-bottom: 20px;
}

.form-control {
  background-color: #EAE9FA;
  border-radius: 10px;
  border: rgb(145, 144, 144) solid 2px;
  width: 260px;
  height: 30px;
  padding-left: 15px;
  text-decoration: none;
}

.btn-Buscar{
  background-color: #6366F1;
  color: #ffffff;
  border-radius: 10px;
  font-weight: bold;
  width: 280px;
  height: 35px;
  font-size: 16px;
}

.parraf {
  justify-content: left;
  font-size: 18px;
  color: black;
  font-family: 'Segoe UI';
  font-style: oblique;
}

.modal {
  justify-content: center;
  text-align: center;
  position: relative;
}